<h1>QuestionsController#answer</h1>
<p>Find me in app/views/questions_controller/answer.html.erb</p>
<p>Your question was: <%= @question %></p>
<p>Your coach says: <%= @answer %></p>
<%= link_to "Ask another question", ask_path %>
